/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  #nav {
    .menu-mega {
      visibility: hidden !important;
    }
    .mega-sub {
      visibility: visible !important;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #nav {
    .menu-item {
      margin-right: 10px;
    }
    .menu-mega {
      width: 600px;
    }
    .mega-sub {
      visibility: hidden !important;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/* Exarge Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #nav {
    .menu-mega {
      visibility: visible !important;
    }
  }
}

/*==========  Non-Mobile First Method  ==========*/

/* Exlarge Devices, Wide Screens */
@media only screen and (max-width: 2500px) {
  #footer {
    padding: 60px 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #download {
    text-align: center;
    padding-top: 50px;
    img {
      margin-bottom: 100px !important;
    }
  }

  #footer {
    text-align: center;
    ul {
      display: block !important;
    }
  }
  #nav {
    .menu-main {
      justify-content: center !important;

      i {
        display: none;
      }
      span {
        display: none;
      }
    }
    .logo {
      display: none;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
