// ====== Imports ======
@import "../sass/variables";
@import "../sass/components/nav";
@import "../sass/components/footer";
@import "../sass/responsive";


/* ====== Header ====== */
header {
  background-image: url(../images/about-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 100px 0;
  text-align: center;
}
/* ====== End Header ====== */

/* ====== Main ======*/
main {
  /* ====== Brings ====== */
  #brings {
    padding: 70px 0;
  }
  /* ====== End Brings ======*/

  /* ====== Menu ======*/
  #menu {
    background-image: url(../images/about-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0;
    h2 {
      font-size: 60px;
      span {
        color: $colorMain;
      }
    }
    i {
      color: $colorMain;
    }
    a {
      transition: background-color 0.6s;
      &:hover {
        background-color: #fff !important;
        color: red !important;
        border: 1px solid red !important;
      }
    }
  }
  /* ====== End Menu ======*/

  /* ====== Discover ======*/
  #discover {
    img {
      height: max-content;
    }
  }
  /* ====== End Discover ======*/

  /* ====== Learn ======*/
  #learn {
    padding: 70px 0;
    text-align: center;
    img {
      height: 400px;
      width: 100%;
    }

    a {
      transition: background-color 0.6s;
      &:hover {
        background-color: #fff !important;
        color: red !important;
        border: 1px solid red !important;
      }
    }
  }
  /* ====== End Learn ======*/

  /* ====== Event ======*/
  #event {
    padding: 70px 0;
    text-align: center;
    h2 {
      font-size: 50px;
    }
    img {
      transition: transform 0.6s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  /* ====== End Event ======*/

  /* ====== Subscribe ====== */
  #subscribe {
    .container {
      padding: 70px 0;
      background-color: rgb(236, 236, 236);
    }
    text-align: center;
    a{
      transition: background-color 0.6s;
    &:hover {
      background-color: #fff !important;
      color: red !important;
      border: 1px solid red !important;
    }
    }
  }
  /* ====== End Subscribe ======*/
}
/* ====== End Main ======*/
