// ====== Imports ======
@import "../sass/variables";
@import "../sass/components/nav";
@import "../sass/components/footer";
@import "../sass/responsive";


/* ====== Header ====== */
header {
  background-image: url(../images/booking-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 100px 0;
  text-align: center;
}
/* ====== End Header ====== */

/* ====== Main ======*/
main {
/* ====== Book ====== */
form{
  padding: 70px 0;
  a {
    border: 1px solid red;
    transition: background-color 0.6s;
    &:hover {
      border: 1px solid red;
      background-color: #fff !important;
      color: red !important;
    }
  }
}
/* ====== End Book ======*/

  /* ====== Download ====== */
  #download {
    background-color: $colorMain;
    h3,
    h2,
    p {
      color: $colorSecond;
    }
    img {
      width: 170px;
    }
    .banner {
      margin-top: -40px;
      img {
        width: 100%;
      }
    }
  }
  /* ====== End Download ======*/
}
/* ====== End Main ======*/
