// ====== Imports ======
@import "../sass/variables";
@import "../sass/components/nav";
@import "../sass/components/footer";
@import "../sass/responsive";

/* ====== Header ====== */
header {
  background: url(../images/cart-page.jpg) no-repeat center/cover;
  padding: 200px 0 100px 0;
  text-align: center;
}
/* ====== End Header ====== */

/* ====== Main ======*/
main {
  /* ====== Cart ======*/
  #cart {
    padding: 100px 0;
    table {
      border-collapse: collapse;
      img {
        width: 50px;
        height: 50px;
      }
      i {
        cursor: pointer;
        transition: opacity 0.6s;
        &:hover {
          opacity: 100 !important;
        }
      }
      input {
        outline: none !important;
      }
    }
    a {
      transition: background-color 0.6s;
      &:hover {
        background-color: #fff !important;
        color: #dc3545 !important;
        border: 1px solid #dc3545 !important;
      }
    }
    .wrapper {
      background-color: #f6f9fa;
    }
  }
  /* ====== End Cart ======*/

  /* ====== Download ====== */
  #download {
    background-color: $colorMain;
    h3,
    h2,
    p {
      color: $colorSecond;
    }
    img {
      width: 170px;
    }
    .banner {
      margin-top: -40px;
      img {
        width: 100%;
      }
    }
  }
  /* ====== End Download ======*/
}
/* ====== End Main ======*/
