// ====== Imports ======
@import "../sass/variables";
@import "../sass/components/nav";
@import "../sass/components/footer";
@import "../sass/responsive";

/* ====== Header ====== */
header {
  background: url(../images/gallery-page.jpg) no-repeat center/cover;
  padding: 200px 0 100px 0;
  text-align: center;
}
/* ====== End Header ====== */

/* ====== Main ======*/
main {
  /* ====== Voucher ======*/
  #voucher {
    .container {
      padding: 50px 0;
      background-image: url(../images/voucher.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      padding: 250px;
    }
  }
  /* ====== End Voucher ======*/

  /* ====== Card ======*/
  #card {
    padding: 70px 0;
    text-align: center;
  }
  /* ====== End Card ======*/

  /* ====== Download ====== */
  #download {
    background-color: $colorMain;
    h3,
    h2,
    p {
      color: $colorSecond;
    }
    img {
      width: 170px;
    }
    .banner {
      margin-top: -40px;
      img {
        width: 100%;
      }
    }
  }
  /* ====== End Download ======*/
}
/* ====== End Main ======*/
