// ====== Imports ======
@import "../sass/variables";
@import "../sass/components/nav";
@import "../sass/components/footer";
@import "../sass/responsive";

/* ====== Header ====== */
header {
  background: url(../images/team-page.jpg) no-repeat center/cover;
  background-repeat: no-repeat;
  padding: 200px 0 100px 0;
  text-align: center;
}
/* ====== End Header ====== */

/* ====== Main ======*/
main {
  /* ====== Team ====== */
  #team {
    padding: 90px 0;
    .tm-member {
      .member-img {
        &:hover > .member-social {
          bottom: 40px !important;
          opacity: 1;
        }
        .member-social {
          text-align: center !important;
          bottom: 0;
          left: 38%;
          transition: all 0.6s ease-in-out;
          opacity: 0;
          i {
            transition: background-color 0.6s;
            &.fa-facebook-f:hover {
              background-color: #3b5998 !important;
            }
            &.fa-twitter:hover {
              background-color: #00a9ed !important;
            }
            &.fa-linkedin-in:hover {
              background-color: #015886 !important;
            }
          }
        }
      }
      h6 {
        color: $colorMain;
      }
    }
    .page-division {
      li {
        transition: background-color 0.6s;
        &:hover {
          background-color: $colorMain;
          a {
            opacity: 1 !important;
          }
        }
      }
    }
  }
  /* ====== End Team ======*/

  /* ====== Download ====== */
  #download {
    background-color: $colorMain;
    h3,
    h2,
    p {
      color: $colorSecond;
    }
    img {
      width: 170px;
    }
    .banner {
      margin-top: -40px;
      img {
        width: 100%;
      }
    }
  }
  /* ====== End Download ======*/
}
/* ====== End Main ======*/
