/* ====== Variables ======*/
/* ====== End Variables ======*/
/* ====== Nav ====== */
#nav {
  background: linear-gradient(to right, #e9130b, #ffffff);
}
#nav .logo {
  height: 70px !important;
}
#nav .menu-main .menu-item a {
  transition: color 0.6s;
}
#nav .menu-main .menu-item a:hover {
  color: #f7be27 !important;
}
#nav .menu-main .menu-item a span {
  top: 10px;
}
#nav .menu-main .menu-item .menu-sub {
  top: 70px;
  width: 210px;
  display: none;
  transform: translateX(-50px);
}
#nav .menu-main .menu-item .menu-sub li {
  transition: transform 0.6s;
}
#nav .menu-main .menu-item .menu-sub li:hover {
  transform: translateX(10px);
}
#nav .menu-main .menu-item .menu-sub img {
  height: 40px;
}
#nav .menu-main .menu-item .menu-mega {
  top: 70px;
  right: 150px;
  display: none;
}
#nav .menu-main .menu-item .menu-mega img {
  height: 100px !important;
}
#nav .menu-main .menu-item:hover .menu-sub {
  display: block;
}
#nav .menu-main .menu-item:hover .menu-mega {
  display: block;
}

/* ====== End Nav ======*/
/* ====== Footer ======*/
#footer img {
  width: 25% !important;
}
#footer .logo {
  width: 150px !important;
}
#footer h3 {
  color: #f7be27 !important;
}

/* ====== End Footer ======*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  #nav .menu-mega {
    visibility: hidden !important;
  }
  #nav .mega-sub {
    visibility: visible !important;
  }
}
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #nav .menu-item {
    margin-right: 10px;
  }
  #nav .menu-mega {
    width: 600px;
  }
  #nav .mega-sub {
    visibility: hidden !important;
  }
}
/* Large Devices, Wide Screens */
/* Exarge Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #nav .menu-mega {
    visibility: visible !important;
  }
}
/*==========  Non-Mobile First Method  ==========*/
/* Exlarge Devices, Wide Screens */
@media only screen and (max-width: 2500px) {
  #footer {
    padding: 60px 0;
  }
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #learn img {
    height: 250px !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #download {
    text-align: center;
    padding-top: 50px;
  }
  #download img {
    margin-bottom: 100px !important;
  }
  #footer {
    text-align: center;
  }
  #footer ul {
    display: block !important;
  }
  #nav .menu-main {
    justify-content: center !important;
  }
  #nav .menu-main i {
    display: none;
  }
  #nav .menu-main span {
    display: none;
  }
  #nav .logo {
    display: none;
  }
  #learn img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* ====== Header ====== */
header {
  background-image: url(../images/about-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 100px 0;
  text-align: center;
}

/* ====== End Header ====== */
/* ====== Main ======*/
main {
  /* ====== Brings ====== */
  /* ====== End Brings ======*/
  /* ====== Menu ======*/
  /* ====== End Menu ======*/
  /* ====== Discover ======*/
  /* ====== End Discover ======*/
  /* ====== Learn ======*/
  /* ====== End Learn ======*/
  /* ====== Event ======*/
  /* ====== End Event ======*/
  /* ====== Subscribe ====== */
  /* ====== End Subscribe ======*/
}
main #brings {
  padding: 70px 0;
}
main #menu {
  background-image: url(../images/about-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 0;
}
main #menu h2 {
  font-size: 60px;
}
main #menu h2 span {
  color: #f7be27;
}
main #menu i {
  color: #f7be27;
}
main #menu a {
  transition: background-color 0.6s;
}
main #menu a:hover {
  background-color: #fff !important;
  color: red !important;
  border: 1px solid red !important;
}
main #discover img {
  height: -moz-max-content;
  height: max-content;
}
main #learn {
  padding: 70px 0;
  text-align: center;
}
main #learn img {
  height: 400px;
  width: 100%;
}
main #learn a {
  transition: background-color 0.6s;
}
main #learn a:hover {
  background-color: #fff !important;
  color: red !important;
  border: 1px solid red !important;
}
main #event {
  padding: 70px 0;
  text-align: center;
}
main #event h2 {
  font-size: 50px;
}
main #event img {
  transition: transform 0.6s;
}
main #event img:hover {
  transform: scale(1.1);
}
main #subscribe {
  text-align: center;
}
main #subscribe .container {
  padding: 70px 0;
  background-color: rgb(236, 236, 236);
}
main #subscribe a {
  transition: background-color 0.6s;
}
main #subscribe a:hover {
  background-color: #fff !important;
  color: red !important;
  border: 1px solid red !important;
}

/* ====== End Main ======*//*# sourceMappingURL=about.css.map */