/* ====== Footer ======*/
#footer {
  
  img{
    width: 25% !important;
  }
  .logo{
    width: 150px !important;
  }
   
      h3 {
        color: $colorMain !important;
      }
    
  }
  /* ====== End Footer ======*/